<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "登录名" %>
    <%= f.input :display_name, label: "姓名" %>
    <%= f.input :email, label: "邮箱" %>

    <div id="target">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url(:thumb) %>
      <% end %>
    </div>
    <%= f.input :avatar, label: false, as: :file, input_html: {id: 'user_avatar', style: "display:none"}  %>

    <a class="btn btn-primary" onclick="$('input[id=user_avatar]').click();">选择照片</a>

    <p>
    <%= f.association :roles, as: :check_boxes, label: "角色",label_method: :full_name, value_method: :id, include_blank:false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<br>

