<p id="notice"><%= notice %></p>

<h1>用户清单</h1>

<%= form_tag users_edit_all_path, method: :get do %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th></th>
      <th>登录名</th>
      <th>姓名</th>
      <th>邮箱地址</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= check_box_tag "user_ids[]", user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.display_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '显示', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= link_to '删除', user, method: :delete, data: { confirm: '确认删除该用户吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag "批量修改", class: "btn btn-default" %>
<%= link_to '创建新用户', new_user_path, class: "btn btn-default" %>
<% end %>

<br>


