<p id="notice"><%= notice %></p>

<p>
  <strong>登录名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>邮箱:</strong>
  <%= @user.email %>
</p>

<%= link_to '修改', edit_user_path(@user) %> |
<%= link_to '用户列表', users_path %>
