<p id="notice"><%= notice %></p>

<h1>Listing Rfx Items</h1>

<table>
  <thead>
    <tr>
      <th>Rfx</th>
      <th>Plant</th>
      <th>Material</th>
      <th>Quantity</th>
      <th>Required dt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rfx_items.each do |rfx_item| %>
      <tr>
        <td><%= rfx_item.rfx.SN %></td>
        <td><%= rfx_item.plant.full_name %></td>
        <td><%= rfx_item.material.full_name %></td>
        <td><%= rfx_item.quantity %></td>
        <td><%= rfx_item.required_dt %></td>
        <td><%= link_to 'Show', [@rfx, rfx_item] %></td>
        <td><%= link_to 'Edit', edit_rfx_rfx_item_path(@rfx, rfx_item) %></td>
        <td><%= link_to 'Destroy', [@rfx, rfx_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增行项目', new_rfx_rfx_item_path(@rfx) %>
<%= link_to '询价单列表', rfxes_path %>
