<p id="notice"><%= notice %></p>

<h1>行项目</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>询价单号</th>
      <th>采购单位</th>
      <th>物料</th>
      <th>数量</th>
      <th>要求到货时间</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rfx_items.each do |rfx_item| %>
      <tr>
        <td><%= rfx_item.rfx.SN %></td>
        <td><%= rfx_item.plant.full_name %></td>
        <td><%= rfx_item.material.full_name %></td>
        <td><%= rfx_item.quantity %></td>
        <td><%= rfx_item.required_dt %></td>
        <td><%= link_to '明细', [@rfx, rfx_item] %></td>
        <td><%= link_to '修改', edit_rfx_rfx_item_path(@rfx, rfx_item) %></td>
        <td><%= link_to '删除', [@rfx, rfx_item], method: :delete, data: { confirm: '确定删除该行项目吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增行项目', new_rfx_rfx_item_path(@rfx) %>
<%= link_to '询价单列表', rfxes_path %>
