<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @plant.code %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @plant.desc %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
